
<% include ./header %>
<!--  -->
<div class="panel panel-primary">
    <div class="panel-heading ">
        <form class="form-inline  ">

            <input type="text" placeholder="Default input" class="form-control input-medium search-query" value="搜索问卷" >
           
            <button type="submit" class="btn ">搜索</button>
        </form>    
    </div>
</div>
<!--  -->
<div class="panel panel-primary">
    <div class="panel-heading">
        试卷列表
    </div>
    <div class="panel-body">
        <ul>
        <li class="create">
            <a href="/new">
                新建问卷
            </a>
        </li>
        <li class="create">
            <a href="/new">
                新建问卷
            </a>
        </li>
        <li class="create">
            <a href="/new">
                新建问卷
            </a>
        </li>
        <li class="create">
            <a href="/new">
                新建问卷
            </a>
        </li>
        <li class="create">
            <a href="/new">
                新建问卷
            </a>
        </li>
        <li class="create">
            <a href="/new">
                新建问卷
            </a>
        </li><li class="create">
            <a href="/new">
                新建问卷
            </a>
        </li>
        <li class="create">
            <a href="/new">
                新建问卷
            </a>
        </li>

    </ul>
    </div>
    

       
</div>
<!--  -->


<% include ./footer %>
