<% include ./header %>

<div class="panel panel-default">
    <div class="panel-body ">
        <div class="form-group col-md-offset-2 col-md-8">
	    <label class="control-label" for="inputSuccess1">Input with title </label>
	    <input type="text" class="form-control" id="inputSuccess1">
		</div>

		<div class="form-group col-md-offset-2 col-md-8">
	    <label class="control-label" for="inputSuccess2">Input detailed introduction </label>
	    <input type="text" class="form-control" id="inputSuccess2">
		</div>

		<div class="form-group col-md-offset-2 col-md-8">
		<label class="control-label" for="inputSuccess3">Input Q1 content </label>
	    <input type="text" class="form-control" id="inputSuccess3">
	    <label class="control-label line" for="inputSuccess3">A </label>
	    <input type="text" class="form-control" id="inputSuccess3">
	    <label class="control-label" for="inputSuccess3">B </label>
	    <input type="text" class="form-control" id="inputSuccess3">
	    <label class="control-label" for="inputSuccess3">C </label>
	    <input type="text" class="form-control" id="inputSuccess3">
	    <label class="control-label" for="inputSuccess3">D </label>
	    <input type="text" class="form-control" id="inputSuccess3">

		    <div class="btn btn-primary">+</div>
		</div>


    </div>
</div>

<% include ./footer %>