<% include ./header %>
<div class="panel panel-default">
    <div class="panel-body ">
        <div class="form-group col-md-offset-2 col-md-8">
	    <label class="control-label" for="inputSuccess1">Input with title </label>
	    <input type="text" class="form-control" id="inputSuccess1">
		</div>

		<div class="form-group col-md-offset-2 col-md-8">
	    <label class="control-label" for="inputSuccess2">Input detailed introduction </label>
	    <input type="text" class="form-control" id="inputSuccess2">
		</div>
		<div class="form-group col-md-offset-2 col-md-8" id="questions">
			<div class="btn btn-primary addQuestion col-md-6">添加问题</div>
			<div class="btn btn-info addDescription col-md-6">添加描述</div>
		</div>

<!-- 		<p id="test1">This is a <b>bold</b> paragraph.</p>
	    <p id="test2">This is another <b>bold</b> paragraph.</p>
	    <button id="btn1">Show Old/New Text</button>
	    <button id="btn2">Show Old/New HTML</button> -->
    </div>
</div>

<% include ./footer %>